<!DOCTYPE html>
<html lang="fa">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body dir="rtl">
    <header class="">
        <nav class="white">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right grey-text text-darken-1">
                    <i class="material-icons large">menu</i>
                </a>
                <ul id="nav-mobile" class=" left hide-on-med-and-down">
                    <li>
                        <a href="dashboard" class="grey-text text-darken-1">
                            <i class="material-icons right">dashboard</i>
                        </a>
                    </li>
                    <li>
                        <a href="login" class="grey-text text-darken-1">ورود
                            <i class="material-icons right">input</i>
                        </a>

                    </li>
                    <li>
                        <a href="signup" class="grey-text text-darken-1">ثبت نام
                            <i class="material-icons right">person_add</i>
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="/all" class="grey-text text-darken-1">جدیدترین ها</a>
                    </li>
                    <li>
                        <a href="/all" class="grey-text text-darken-1">آرشیو</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="/login" clasvalues="grey-text text-darken-1">ورود
                    <i class="material-icons left">input</i>
                </a>
            </li>
            <li>
                <a href="/signup" class="grey-text text-darken-1">ثبت نام
                    <i class="material-icons left">person_add</i>
                </a>
            </li>
            <li>
                <a href="/dashboard" class="grey-text text-darken-1">داشبورد ادمین
                    <i class="material-icons left">dashboard</i>
                </a>
            </li>
        </ul>
    </header>
    <main class="white">
        <div class="row">
            <div class="center" id="logo">
                <span class="red-text text-darken-1">کار</span>
                <span class="grey-text text-darken-1">شناس</span>
            </div>
            <form class="col s8 offset-s2" method="GET" enctype="application/x-www-form-urlencoded" autocomplete="off" action="/search">
                <div id="idSearch" class="z-depth-1 hoverable valign-wrapper">
                    <input class="browser-default grey-text text-darken-4" name="q" type="text">
                    <button type="submit">
                        <i class="material-icons btnSearch grey-text darken-1">search</i>
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>

    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>

</html>