<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crawler panel</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/iransans.css">
    <link rel="stylesheet" href="css/panel.css">

</head>

<body>


    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="align-self-center w-50">
                <button id="getnewJobs" class="btn btn-info w-100 shadow-lg rounded" style="min-width: 260px">
                    <span class="badge mr-3">
                        <%=news%>
                    </span>موقعیت های شغلی جدید را بده</button>

            </div>

            <div id="items" class="w-100 ">

            </div>

        </div>
    </div>
    <div class="container my-4 w-100 d-flex justify-content-center">
        <div class="pagination items">
        </div>
    </div>



    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/crawlerPanel.js"></script>

</body>

</html>