<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crawler panel</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/iransans.css">
    <style>
        @import url(iransans.css);

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;


            font-family: IRANSans;
            font-weight: 300;

        }
        .badge{
            color:#17a2b8;
            background-color:white;
        }
    </style>
</head>

<body>

    <body>
        <div class="container mt-5">
            <div class="row">
                <button id="getnewJobs" class="btn btn-info w-50 m-auto shadow-lg rounded"><span class="badge mr-3"><%=news%></span>موقعیت های شغلی جدید را بده</button>
                <div id="items">

                </div>

            </div>
        </div>
    </body>


    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/crawlerPanel.js"></script>

</body>

</html>