<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/loginstyle.css">
    <!-- <link rel="stylesheet" href="public/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../css/iransans.css">
    <style>
        @import url(iransans.css);

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;


            font-family: IRANSans;
            font-weight: 300;

        }
        .badge{
            color:#17a2b8;
            background-color:white;
        }
    </style>
    <title> ثبت نام </title>
</head>
<body>
    
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div>
      
           <!-- show any messages that come back with authentication -->
           <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

          <!-- Login Form -->
          <form action="/signup" method="post">
            <div class="form-signin">
                    <input type="text" id="login" class="fadeIn second" name="email" placeholder="آیدی یا ایمیل">
            </div>
            <div class="form-group">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="رمز عبور">
            </div>
            <input type="submit" class="fadeIn fourth" value="ایجاد حساب کاربری">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="" href="/login"> ورود به حساب کاربری </a>
          </div>
      
        </div>
      </div>

</body>
</html>