<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../public/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>داشبورد</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap RTL core CSS     -->
    <link href="../public/assets/css/bootstrap-rtl.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../public/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../public/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  Light Bootstrap RTL Version CSS    -->
    <link href="../public/assets/css/light-bootstrap-dashboard-rtl.css" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../public/assets/css/demo.css" rel="stylesheet" />



    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/earlyaccess/droidarabickufi.css' rel='stylesheet' type='text/css'>
    <link href="public/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
  

</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="" class="simple-text">
                        کارشناس
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="dashboard.html">
                            <i class="pe-7s-graph"></i>
                            <p>داشبورد</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="user.html">
                            <i class="pe-7s-user"></i>
                            <p>پروفایل</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">تعویض ناوبری</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">پروفایل</a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="">
                                    حساب کاربری
                                </a>
                            </li>
                            <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    کشویی
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">آپشن1</a>
                                    </li>
                                    <li>
                                        <a href="#">آپشن2</a>
                                    </li>
                                    <li>
                                        <a href="#">آپشن3</a>
                                    </li>
                                    <li>
                                        <a href="#">آپشن4</a>
                                    </li>
                                    <li>
                                        <a href="#">آپشن5</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">آپشن جدید</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="#">
                                    خروج
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">ویرایش پروفایل</h4>
                                </div>
                                <div class="content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>کد کاربر (غیر فعال)</label>
                                                    <input type="text" class="form-control" disabled placeholder="Company" value="کد کاربر">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>نام کاربری</label>
                                                    <input type="text" class="form-control" placeholder="یوزرنیم" value="Sobhan">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">آدرس ایمیل</label>
                                                    <input type="email" class="form-control" placeholder="ایمیل">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>نام</label>
                                                    <input type="text" class="form-control" placeholder="نام" value="سبحان">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>نام خانوادگی</label>
                                                    <input type="text" class="form-control" placeholder="نام خانوادگی" value="مکی">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>آدرس</label>
                                                <input type="text" class="form-control" placeholder="آدرس خانه" value="تهران">
                                            </div>
                                        </div>
                                    </div> -->

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>شهر</label>
                                                    <input type="text" class="form-control" placeholder="شهر" value="تهران">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>کشور</label>
                                                    <input type="text" class="form-control" placeholder="کشور" value="ایران">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>کد پستی</label>
                                                    <input type="number" class="form-control" placeholder="کد پستی">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>درباره من</label>
                                                    <textarea rows="5" class="form-control" placeholder="اینجا میتواند توضیحات شما باشد." value="Mike"> اینجا میتواند توضیحات شما باشد </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-fill pull-left">آپدیت پروفایل</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>


</body>

<!--   Core JS Files   -->
<script src="../public/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../public/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="../public/assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="../public/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../public/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../public/assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="../public/assets/js/demo.js"></script>

</html>