@font-face {
    font-family: 'b koodak';
    src: url('../fonts/BKoodakBold.eot?#') format('eot'), /* IE6–8 */
    url('../fonts/BKoodakBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BKoodakBold.ttf') format('truetype');
    /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'b yekan';
    src: url('../fonts/BYekan.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: 'a ghasem';
    src: url('../fonts/AGhasem.ttf') format('truetype');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "b yekan";
}

.card {
    font-family: 'b koodak';
}

.pointer {
    cursor: pointer;
}

/* main {
    /* background-image: url('../img/Handshake-close-up-of-executives/O6JTUC0.jpg');
      background-repeat: no-repeat;
      background-size: cover; */
    /* height: 500px; */
    /* background-color: whitesmoke; */
/* } */

#logo {
    font-family: 'a ghasem';
    font-size: 90px;
    padding-top: 90px;
    cursor: default;
    user-select: none;
}

nav .brand-logo {
    font-family: 'a ghasem';
    font-size: 30px;
    position: relative;
    display: flex;
    padding: 0 15px;
    left: 0;
    -webkit-transform: none;
    transform: none;
}

#idSearch {
    width: 75%;
    margin-right: 10%;
    height: 40px;
    border-radius: 2px;
    border: 0px solid grey;
    padding-right: 13px;
}

#searchBar {
    width: 40%;
    height: 40px;
    border-radius: 2px;
    border: 0px solid grey;
    padding-right: 13px;
    margin-left: auto;
}

#searchBar .btnSearch {
    margin-top: 2px;
    padding: 0 7px;
}

#idSearch input, #searchBar input {
    font-family: 'b koodak';
    font-size: 20px;
    line-height: 26px;
    width: 100%;
    border: 0;
    color: rgb(49, 49, 49) !important;
}

#idSearch input:focus, #searchBar input:focus {
    outline-width: 0;
}

#idSearch button, #searchBar button {
    border: 0;
    background-color: transparent;
    line-height: 1;
}

.btnSearch {
    margin-top: 3px;
    font-size: 42px;
    border-radius: 2px;
}

.btnSearch:hover {
    color: #E53935 !important;
    cursor: pointer;
}

main {
    background-color: whitesmoke;
}

    .breadcrumb:before {
        content: 'chevron_left';
    }

        main > div > aside .btn-large {
            background-color: #E53935;
        }

        main > div > aside .btn-large:hover {
            background-color: #E53935;
        }

        main > div > aside > section {
            padding: 0 7px 15px;
        }

    main > div > section {
        padding-left: 15% !important;
        /* margin-left: 20px; */
        margin-right: 9.5%;
    }

    main > .row > .col {
        padding: 12px;
    }

    main section footer > .pagination {
        /* display: block; */
        margin: 20px 0 0;
    }

.card {
    margin: 0 0 12px;
    /* border-radius: 8px 100px 100px 8px; */
    border-radius: 8px;
}

    .card .card-image img {
        border: 1px solid rgb(245, 245, 245);
        width: 100px;
        height: 100px;
        margin: 24px 24px 0 0;
    }

    .card .card-content img {
        height: 20px;
        margin-top: 45px;
    }

    .card i {
        padding-bottom: 8px;
        margin-left: 3px;
    }

    .card .card-content {
        padding: 24px 24px 24px;
    }

    .card .card-title a {
        color: rgb(33, 33, 33);
    }

    .card .card-title a:hover {
        color: #E53935;
    }

    .card .card-title a:visited {
        color: rgb(156, 37, 35);
    }